# BUSA8031 Group Assessment
**By Smriti Pradhananga 46188290**

---

## Background information on the task

The NSW Public Service Commission collects data about the public sector workforce in the Workforce Profile, a census of the NSW public sector workforce.

As an analyst, one of your responsibilities is to provide analysis of this data in different areas such as employment arrangements, age profile and diversity profile of the workforce to support policy development.

## Task
You have been asked to prepare analysis on part-time employees to brief your Director prior to a meeting they are attending with the Workforce Diversity Steering Committee to review whether part-time employment arrangements are increasing.

Please provide:

- Trends over time in male and female employment, including any notable changes
- The current representation of part time employees in the sector and in each Cluster
- The current representation of male and female part time employees as a proportion of the respective male and the female workforce in the sector and in each cluster
- Change in these two above statistics over the last 4 years
- Projection of what the representation will be by 2025 if the current trends continue

## Glossary

**Sector or Public Sector**	The term for the collective Agencies/people who directly work for the NSW State Government
			
**Cluster**	A group of agencies that share a common function and report to a secretary
			
**Headcount** The number of employees

**pp** Percentage point

---

In [1]:
#importing libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

#reading the excel file 
df = pd.read_excel('BBE Dataset.xlsx')

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 606 entries, 0 to 605
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ProductKey           606 non-null    int64
 1   ProductAlternateKey  606 non-null    object
 2   ProductName          606 non-null    object
 3   ProductSubcategory   397 non-null    object
 4   ProductCategoryName  397 non-null    object
 5   StandardCost         395 non-null    float64
 6   Color                352 non-null    object
 7   ListPrice            395 non-null    float64
 8   Size                 299 non-null    object
 9   SizeRange            299 non-null    object
 10  Weight               282 non-null    float64
 11  ProductLine          380 non-null    object
 12  Class                330 non-null    object
 13  Style                301 non-null    object
 14  ModelName            397 non-null    object
 15  Description          396 non-null    object
dtypes: float64(3), int64(1), object(12)
memory usage: 75.9+ KB

In [3]:
df.head()

,ProductKey,ProductAlternateKey,ProductName,ProductSubcategory,ProductCategoryName,StandardCost,Color,ListPrice,Size,SizeRange,Weight,ProductLine,Class,Style,ModelName,Description
0,1,AR-5381,Adjustable Race,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,BA-8327,Bearing Ball,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,BE-2349,BB Ball Bearing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,BE-2908,Headset Ball Bearings,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,BL-2036,Blade,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
#checking for missing values
df.isnull().sum().sum()

3258

---
## Trends over time in male and female employment, including any notable changes